<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<link rel="stylesheet" href="../static/css/styles.css">
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> -->
</head>
<body>

    <h2>
        <box>
            Search Button
        </box>
    </h2>

    <form class="example" style="margin:auto;max-width:500px" method="post" action="{{ url_for('search') }}" >
        <input type="text"  id="search_input" placeholder="{{search_placeholder}}" name="search_input">
        <button onclick="Search()"  type="submit"><i class="fa fa-search"></i></button>
    </form>

</body>

</html>